/* Estilos para la barra de navegación */
ul {
    background-color: #dfd10c;
    list-style: none;
    padding: 20px;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para la sección de letras */
.lyrics {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
}

/* Estilos para los botones */
.button {
    background-color: #0074D9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}


.song-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.song-item h2 {
    margin-bottom: 5px;
}

.song-item p {
    margin: 5px 0;
}



.buttoninicio {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.buttonurl {
    display: inline-block;
    background-color: #ae66ca;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonacercade {
    display: inline-block;
    background-color: #878b87;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

